/*----------------------------*/
/*   INCLUSION OF PARTIALS    */
/*----------------------------*/
//base elements
@import "base/reset";
@import "base/tipografia";
//settings and variables
@import "utilities/variables";
@import "utilities/functions";
@import "utilities/mixins";
//HTML components
@import "components/botones";
@import "components/links";
//components
@import "layout/grids";
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

.dark {
    background: $color-darkgrey;
}

.off {
    @extend %display_none;
}

/* ---------First Section---------- */
/* Ilustra Header - First Section */
#firstSection {
    text-align: $text-align-center;
    .color_purple {
        @include generals_font;
        @extend %size;
    }
    #h1Desktops {
        @extend %display_none;
    }
    #color_aqua {
        color: $color-aqua;
        font-family: $font-titles;
    }
    .ilustra_header {
        @extend %display_block;
        width: percentage(1700%, $page-max-width, $rem);
        margin: auto;
        margin-top: 6px;
    }
    #gifosFinder {
        text-align: $text-align-center;
        cursor: pointer;
        #searchGifos {
            background: $color-white;
            border: $border $color-purple;
            border-radius: $border-radius;
            width: 334px;
            height: 50px;
            padding-left: 60px;
        }
        ::placeholder {
            @extend %robotos_font;
            font-size: sum($font-size16, 0);
            color: $color-fontgrey;
        }
        .search {
            width: 20px;
            height: 20px;
            position: relative;
            right: 12%;
            top: 30%;
        }
        .searchToTerm {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 12%;
            top: 10.5rem;
        }
    }
    #trending {
        margin: 0;
        margin-top: 31px;
        font-size: sum($font-size16, 1px);
        .color_purple {
            @include generals_font;
        }
    }
    .ultrendings {
        width: 100%;
        height: 50px;
        font-size: subtraction($font-size16, 2px);
        line-height: 25px;
        ul {
            padding: 0 60px;
            li {
                @include generals_font($font: $font-weight-medium);
                margin: 2px;
                list-style-type: $list-none;
                text-transform: capitalize;
                display: inline;
            }
        }
    }
    .lineUnderSearch{
        width: 50%;
        height: 1px;
        opacity: 0.5;
        border: $border $color-linegrey;
        margin-top: 35px;
    }
    #tryAnotherSearch {
        .noContent {
            width: 150px;
            height: 150px;
            margin-top: 60px;
        }
        .noContentText {
            @include generals_font($color: $color-aqua);
        }
    }
    .termToSearch {
        margin-top: 43px;
    }
    .gifosContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        .showGifos {
            width: 156px;
            height: 120px; 
            margin: 10%;           
        }
    }
    .seeMore {
        background: transparent;
        border: none;  
        margin-top: 78px;
    }
}

/*-----------GIFOS in Trend---------- */
#trends {
    background: $color-grey;
    width: $page-max-width;
    height: 40%;
    margin-top: 59px;
    padding-top: 45px;
    padding-bottom: 82px;
    #gifosTrend {
        @include generals_font;
        font-size: percentage(150%, $page-max-width, $rem);
        line-height: 30px;
    }
    #latestGifos {
        @extend %robotos_font;
        font-size: sum($font-size16, 0);
        text-align: $text-align-center;
        line-height: 23px;
    }
    #newGifos {
        width: 100%;
        height: 40%;
        margin: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        .gifTrends {
            width: 243px;
            height: 187px;
            padding-left: 22px;
            align-self: $text-align-center;
        }
    }
}

/*------Container to Maximum Image---------- */
#containerMaxGifs {
    @extend %display_none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    opacity: 90%;
    #imgMaxSize{
        width: 318px;
        height: 245px;
        position: absolute;
        top: 142px;
        right: 9%;
    }
    h2 {
        @include generals_font($color: $color-black);
        text-align: left;
        font-size: $font-size16;
        position: relative;
        top: 72%;
        left: 7%;
        height: 100px;
        width: 224px;
    }
    h3 {
        @extend %robotos_font; 
        font-size: subtraction($font-size16, 1px);
        position: absolute;
        bottom: 24%;
        left: 9%;
    }
    #imgCrossMax {
        position: absolute;
        right: 37px;
        top: 47px;
        cursor: pointer;
    }  
    #imgFavoriteMax {
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 33px;
        top: 414px;
        right: 73px;
    }
    #favoriteActive {
        cursor: pointer;
        position: absolute;
        top: 420px;
        right: 82px;
    }
    #imgDownloadMax {
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        border-radius: 6px;
        cursor: pointer;
        position: absolute;
        top: 414px;
        right: 34px;
    }
}
///////////////////////////////////
/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
/* Ilustra Header - First Section */
.dark {
    #firstSection {
        .color_white {
            @include generals_font($color: $color-white);
            @extend %size;
        }
        #gifosFinder {
            #searchGifos {
                background: $color-darkgrey;
                border: $border $color-white;
            }
            .search {
                top: 21%;
            }
            .searchToTerm {
                top: 29%;
            }
        }
        #trending {
            margin: 0;
            margin-top: 31px;
            font-size: sum($font-size16, 1px);
            .color_white {
                @include generals_font($color: $color-white);
            }
        }
        .ultrendings {
            width: 100%;
            height: 50px;
            font-size: subtraction($font-size16, 2px);
            line-height: 25px;
            ul {
                padding: 0 60px;
                li {
                    @include generals_font($font: $font-weight-medium, $color: $color-white);
                    margin: 2px;
                    list-style-type: $list-none;
                    text-transform: capitalize;
                    display: inline;
                }
            }
        }
        .lineUnderSearch{
            border: $border $color-white;
        }
        .termToSearch {
            @include generals_font($color: $color-white);
        }
        .seeMoreDark {
            background: transparent;
            border: none;  
            margin-top: 78px;
        }
    }
    #trends {
        background: $color-darktrend;
        #gifosTrend {
            @include generals_font($color: $color-white);
            font-size: percentage(150%, $page-max-width, $rem);
            line-height: 30px;
        }
        #latestGifos {
            @extend %robotos_font;
            color: $color-white;
        }
    }
    #containerMaxGifs {
        h2 {
            @include generals_font($color: $color-white, $text: left);
        }
        h3 {
            @extend %robotos_font;
            color: $color-white;
        }
        #imgDownloadMax {
            opacity: 1;
        }
    }
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    #firstSection {
        .color_purple {
            font-size: percentage(218%, $page-max-width, $rem);
        }
        #h1Mobile {
            display: none;
        }
        #h1Desktops {
            display: block;
            margin-top: 76px;
        }
        .ilustra_header {
            width: percentage(2700%, $page-max-width, $rem);
        }
        #gifosFinder {
            #searchGifos {
                width: percentage(3500%, $page-max-width, $rem);
                height: 50px;
                padding-left: 60px;
            }
            .search {
                position: relative;
                right: 6%;
                top: 16.5%;
            }
            .searchToTerm {
                position: relative;
                right: 6%;
                top: 15%;
            }
        }
        #trending {
            margin-top: 73px;
            font-size: sum($font-size16, 4px);
        }
        .ultrendings {
            font-size: sum($font-size16, 2px);
        }
        .lineUnderSearch{
            width: 50%;
            height: 1px;
            opacity: 0.5;
            border: $border $color-linegrey;
            margin-top: 35px;
        }
        #tryAnotherSearch {
            .noContent {
                width: 250px;
                height: 250px;
            }
        }
        .gifosContainer {
            grid-template-columns: 25% 25% 25% 25%;
            padding: 15px;
            .showGifos {
                margin: 8%;           
            }
        }
    }
    #trends {
        #latestGifos {
            font-size: sum($font-size16, 2);
            br{
                display: none;
            }
        }
        div {
            position: relative;
            text-align: center;
            .btnSliderLeft {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 10%;
                top: 130px;

            }
            #newGifos {
                width: 60%;
                height: 60%;
                display: flex;
                margin: 0 auto;
                padding: 0;
                overflow: hidden;
                .gifTrends {
                    display: block;
                    width: 380px;
                    height: 275px;
                    padding: 0 10px;
                }
            }
            .btnSliderRight {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 85%;
                top: 130px;
             
            }
        } 
    }
    #containerMaxGifs {
        opacity: 100%;
        #imgMaxSize{
            width: 60%;
            height: 60%;
            position: absolute;
            right: 20%;
        }
        h2 {
            top: 87%;
            left: 20%;
            width: 450px;
        }
        h3 {
            bottom: 11%;
            left: 21%;
            width: 350px;
        }
        #imgCrossMax {
            right: 80px;
        }  
        #imgFavoriteMax {
            top: 83%;
            right: 24%;
        }
        #favoriteActive {
            top: 84%;
            right: 25%;
        }
        #imgDownloadMax {
            top: 83%;
            right: 20%;
        }
    }
    /*----------------------------*/
    /*         DARK MODE          */
    /*----------------------------*/
    .dark {
        #firstSection {
            #gifosFinder {
                .search {
                    top: 12.2%;
                }
                .searchToTerm {
                    top: 7.2%;
                }
            }
            #trending {
                margin: 0;
                margin-top: 73px;
                font-size: sum($font-size16, 4px);
            }
            .ultrendings {
                font-size: sum($font-size16, 2px);
            }
            .lineUnderSearch{
                border: $border $color-white;
            }
        }
        #trends { 
            #latestGifos {
                color: $color-white;
            }
        }
    }
}