/*----------------------------*/
/*   INCLUSION OF PARTIALS    */
/*----------------------------*/
//base elements
@import "base/reset";
@import "base/tipografia";
//settings and variables
@import "utilities/variables";
@import "utilities/functions";
@import "utilities/mixins";
//HTML components
@import "components/botones";
@import "components/links";
//components
@import "layout/grids";
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

.dark {
    background: $color-darkgrey;
}

.off {
    @extend %display_none;
}

/* ---------First Section---------- */
/* Ilustra Header - First Section */
#firstSection {
    text-align: $text-align-center;
    .color_purple {
        @include generals_font;
        @extend %size;
    }
    #color_aqua {
        color: $color-aqua;
        font-family: $font-titles;
    }
    .ilustra_header {
        @extend %display_block;
        width: percentage(1700%, $page-max-width, $rem);
        margin: auto;
        margin-top: 6px;
    }
    #gifosFinder {
        text-align: $text-align-center;
        cursor: pointer;
        #searchGifos {
            background: $color-white;
            border: $border $color-purple;
            border-radius: $border-radius;
            width: 334px;
            height: 50px;
            padding-left: 60px;
        }
        ::placeholder {
            @extend %robotos_font;
            font-size: sum($font-size16, 0);
            color: $color-fontgrey;
        }
        .search {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 12%;
            top: 24.8rem;
        }
        .searchToTerm {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 12%;
            top: 7.5rem;
        }
    }
    #trending {
        margin: 0;
        margin-top: 31px;
        font-size: sum($font-size16, 1px);
        .color_purple {
            @include generals_font;
        }
    }
    .ultrendings {
        width: 100%;
        height: 50px;
        font-size: subtraction($font-size16, 2px);
        line-height: 25px;
        ul {
            padding: 0 60px;
            li {
                @include generals_font($font: $font-weight-medium);
                margin: 2px;
                width: 10%;
                list-style-type: $list-none;
                text-transform: capitalize;
                display: inline;
            }
        }
    }
    .lineUnderSearch{
        width: 50%;
        height: 1px;
        opacity: 0.5;
        border: $border $color-linegrey;
        margin-top: 35px;
    }
    #tryAnotherSearch {
        .noContent {
            width: 150px;
            height: 150px;
            margin-top: 60px;
        }
        .noContentText {
            @include generals_font($color: $color-aqua);
        }
    }
    .termToSearch {
        margin-top: 43px;
    }
    .gifosContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        .showGifos {
            width: 156px;
            height: 120px; 
            margin: 10%;           
        }
    }
    .seeMore {
        background: transparent;
        border: none;  
        margin-top: 78px;
    }
}

/*-----------GIFOS in Trend---------- */
#trends {
    background: $color-grey;
    width: $page-max-width;
    height: 430px;
    margin-top: 59px;
    padding-top: 45px;
    padding-bottom: 82px;
    #gifosTrend {
        @include generals_font;
        font-size: percentage(150%, $page-max-width, $rem);
        line-height: 30px;
    }
    #latestGifos {
        @extend %robotos_font;
        font-size: sum($font-size16, 0);
        text-align: $text-align-center;
        line-height: 23px;
    }
    #newGifos {
        width: 243px;
        height: 187px;
        margin-top: 32px;
        margin-bottom: 82px;
        display: grid;
        grid-template-columns: auto auto auto;
        img {
            width: 243px;
            height: 187px;
            padding-left: 22px;
            align-self: $text-align-center;
        }
    }
}

/*------Container to Maximum Image---------- */
#containerMaxGifs {
    @extend %display_none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    opacity: 90%;
    
    #imgMaxSize{
        width: 318px;
        height: 245px;
    }

    h2 {
        @include generals_font($color: $color-black);
        font-size: $font-size16;
    }

    h3 {
        @extend %robotos_font; 
        font-size: subtraction($font-size16, 1px);
    }
    #imgCrossMax {
        position: relative;
        right: 50%;
        top: 47px;
        cursor: pointer;
    }  

    #imgFavoriteMax:hover{
        background-color: aquamarine;
        cursor: pointer;
    }

    #imgDownloadMax {
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        border-radius: 6px;
        cursor: pointer;
    }
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
/* Ilustra Header - First Section */
.dark {
    #firstSection {
        .color_white {
            @include generals_font($color: $color-white);
            @extend %size;
        }
        #gifosFinder {
            #searchGifos {
                background: $color-darkgrey;
                border: $border $color-white;
            }
            .search {
                top: 23.5rem;
            }
            .searchToTerm {
                top: 7.2rem;
            }
        }
        #trending {
            margin: 0;
            margin-top: 31px;
            font-size: sum($font-size16, 1px);
            .color_white {
                @include generals_font($color: $color-white);
            }
        }
        .ultrendings {
            width: 100%;
            height: 50px;
            font-size: subtraction($font-size16, 2px);
            line-height: 25px;
            ul {
                padding: 0 60px;
                li {
                    @include generals_font($font: $font-weight-medium, $color: $color-white);
                    margin: 2px;
                    width: 10%;
                    list-style-type: $list-none;
                    text-transform: capitalize;
                    display: inline;
                }
            }
        }
        .lineUnderSearch{
            border: $border $color-white;
        }
        .termToSearch {
            @include generals_font($color: $color-white);
        }
        .seeMoreDark {
            background: transparent;
            border: none;  
            margin-top: 78px;
        }
    }
    /*--------- GIFOS in Trend------- */
    #trends {
        background: $color-darktrend;
        #gifosTrend {
            @include generals_font($color: $color-white);
            font-size: percentage(150%, $page-max-width, $rem);
            line-height: 30px;
        }
        #latestGifos {
            @extend %robotos_font;
            color: $color-white;
        }
    }
}