/* Footer Section */
#footer {
    text-align: $text-align-center;
    width: $page-max-width;
    height: 190px;
    display: inline-block;
    border-bottom: $border-top-bottom $color-purple;
    #footerShare {
        @extend %robotos_font;
        font-size: percentage(110%, $page-max-width, $rem);
        margin-top: 47px;
        margin-bottom: 0;
    }
    #socialMedia {
        width: 35%;
        margin-top: 22px;
        margin-left: 32%;
        display: flex;
        justify-content: space-evenly;
    }
    #footerCopyright {
        @extend %robotos_font;
        font-size: percentage(90%, $page-max-width, $rem);
        line-height: 20px;
    }
}