/*----------------------------*/
/*       HEADER SECTION       */
/*----------------------------*/
header {
    border-top: $border-top-bottom $color-purple;
    .logosHeader {
        margin-left: 22px;
        margin-top: 29px;
        margin-bottom: 17.2px;
    }
    .logosHeaderDesktop {
        display: none;
    }
    .checkbox-menu {
        position: absolute;
        right: 10%;
        top: 47px;
        cursor: pointer;
    } 
    /*----------------------------*/
    /*  Navigation Bar Section    */
    /*----------------------------*/
    nav {
        #menu {
            position: fixed;
            background: $color-purple;
            opacity: 90%;
            width: $page-max-width;
            height: $page-max-width;
            list-style-type: $list-none;
            margin: 0; 
            padding: 0;
            padding-top: 17px;
            padding-bottom: 297px;
            text-align: $text-align-center;
            .btnsNavigations  {
                @include generals_font($color: $color-white);
                font-size: subtraction($font-size16, 2px);
                line-height: 60px;
                text-decoration-line: $text-decoration; 
                hr {
                    width: 35px;
                    height: 2px;
                    background-color: $color-white;
                    margin: 0 45%;
                }
            }
            #createMyGifos {
                display: none;
            }
        }    
    }   
}

/*----------------------------*/
/*     DARK MODE - HEADER     */
/*----------------------------*/
.dark {
    header {
        border-top: $border-top-bottom $color-black;
        .logosHeaderDesktop {
            display: none;
        }
        .logosHeader {
            display: block;
        }
    }
    nav {
        #menu {
            background: $color-black;
            opacity: 100%;
        }    
    }
}

/*------------------------------------------------*/
/* Large devices (laptops/desktops, 768px and up) */
/*------------------------------------------------*/
@media only screen and (min-width: 786px) {
    header {
        border-top: $border-top-bottom $color-purple;
        .logosHeaderDesktop {
            margin-left: 156px;
            margin-top: 23px;
            margin-bottom: 17.2px;
        }
        .logosHeader {
            display: none;
        }          
        nav {            
            #menu {   
                position: absolute;
                display: grid;
                grid-template-columns: auto auto auto auto;
                background: $color-white;
                opacity: 100;
                right: 5%;
                top: 23px;
                width: 500px;
                height: auto;
                padding: 0;
                text-align: unset;      
                .btnsNavigations {
                    color: $color-purple;
                    hr {
                        display: none;
                    }
                }
                #createMyGifos {
                    display: block;
                }
            }    
        }  
    }

    /*----------------------------*/
    /*     DARK MODE - HEADER     */
    /*----------------------------*/
    .dark {
        header {
            border-top: $border-top-bottom $color-black;
            .logosHeaderDesktop {
                display: block;
            }
            .logosHeader {
                display: none;
            }
        }
        nav {
            #menu {
                background: $color-darkgrey;
                .btnsNavigations {
                    color: $color-white;
                    hr {
                        display: none;
                    }
                }
                #createMyGifos {
                    display: block;
                }
            }    
        }
    }
}