/*----------------------------*/
/*       HEADER SECTION       */
/*----------------------------*/
header {
    border-top: $border-top-bottom $color-purple;
    .logosHeader {
        margin-left: 22px;
        margin-top: 29px;
        margin-bottom: 17.2px;
    }
    .checkbox-menu {
        position: absolute;
        right: 10%;
        top: 47px;
        cursor: pointer;
    }    
}

/*----------------------------*/
/*     DARK MODE - HEADER     */
/*----------------------------*/
.dark {
    header {
        border-top: $border-top-bottom $color-black;
        #logo {
            @extend %display_none;
        }
        #logoDark {
            @extend %display_block;
        }
    }
}

/*------------------------------------------------*/
/* Large devices (laptops/desktops, 768px and up) */
/*------------------------------------------------*/
@media only screen and (min-width: 786px) {
    header {
        .logosHeader {
            margin-left: 157px;
            margin-top: 23px;
            margin-bottom: 17.2px;
        }
        .checkbox-menu {
            display: none;
        }    
    }
}