/* Navigation Bar Section */
nav {
    #menu {
        position: fixed;
        background: $color-purple;
        width: $page-max-width;
        height: $page-max-width;
        list-style-type: $list-none;
        margin: 0; 
        padding: 0;
        padding-top: 17px;
        padding-bottom: 297px;
        text-align: $text-align-center;
        li a {
            @include generals_font($color: $color-white);
            font-size: subtraction($font-size16, 2px);
            line-height: 60px;
            text-decoration-line: $text-decoration; 
            hr {
                width: 35px;
                height: 2px;
                background-color: $color-white;
                margin: 0 45%;
            }
        }
    }    
}