/*----------------------------*/
/*  Navigation Bar Section    */
/*----------------------------*/
nav {
    #menu {
        position: fixed;
        background: $color-purple;
        opacity: 90%;
        width: $page-max-width;
        height: $page-max-width;
        list-style-type: $list-none;
        margin: 0; 
        padding: 0;
        padding-top: 17px;
        padding-bottom: 297px;
        text-align: $text-align-center;
        li a {
            @include generals_font($color: $color-white);
            font-size: subtraction($font-size16, 2px);
            line-height: 60px;
            text-decoration-line: $text-decoration; 
            hr {
                width: 35px;
                height: 2px;
                background-color: $color-white;
                margin: 0 45%;
            }
        }
    }    
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
.dark {    
    nav {
        #menu {
            background: $color-black;
            opacity: 100%;
        }    
    }
}

/*------------------------------------------------*/
/* Large devices (laptops/desktops, 768px and up) */
/*------------------------------------------------*/
@media only screen and (min-width: 786px) {
    nav {
        #menu {   
            display: inline-block;   
            position: relative;
            left: 50%;
            top: 23px;
            background: $color-purple;
            opacity: 100%;
            width: 50%;
            height: 20px;
            list-style-type: $list-none;
            margin: 0; 
            padding: 0;
            padding-top: 0;
            padding-bottom: 0;
            text-align: $text-align-center;
        li a {
            display: inline; 
            @include generals_font($color: $color-purple);
            font-size: subtraction($font-size16, 2px);
            line-height: 60px;
            text-decoration-line: $text-decoration; 
                hr {
                   display: none;
                }
            }
        }    
    }
}