/*----------------------------*/
/*         $COLORS            */
/*----------------------------*/

$color-white: #FFFFFF; //background and font
$color-purple: #572EE5;
$color-aqua: #50E3C2;

$color-black: #000000;
$color-grey: #F3F5F8; //background trend section (light)
$color-darkgrey: #37383C; //background layout
$color-fontgrey: #6B7989; //color font search
$color-darktrend: #222326; //background trend section

/*----------------------------*/
/*         $FONTS             */
/*----------------------------*/
$font-titles: 'Montserrat', sans-serif;
$font-labes: 'Roboto', sans-serif;
$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-regular: 400;
$text-align-center: center;
$font-size16: 16px;

/*----------------------------*/
/*         $CONSTANTES        */
/*----------------------------*/
$rem: 1rem;
$border-radius: 27px;
$page-max-width: 100%;
$border-top-bottom: 5px solid;
$border: 1px solid;
$list-none: none;
$text-decoration: unset; 
 