/*----------------------------*/
/*         $COLORS            */
/*----------------------------*/

$color-white: #FFFFFF; //background and font
$color-purple: #572EE5;
$color-aqua: #50E3C2;

$color-black: #000000;
$color-grey: #F3F5F8; //background trend section (light)
$color-darkgrey: #37383C; //background layout
$color-fontgrey: #6B7989; //color font search
$color-darktrend: #222326; //background trend section

/*----------------------------*/
/*         $FONTS             */
/*----------------------------*/
$font-titles: 'Montserrat', sans-serif;
$font-labes: 'Roboto', sans-serif;
$font-weight-bold: bold;
$font-size16: 16px;
$font-size15: 15px;
$font-size14: 14px;


/*----------------------------*/
/*         $CONSTANTES        */
/*----------------------------*/
$border-radius: 27px;
$page-max-width: 100%;
$border-top-bottom: 5px solid;
$border: 1px solid;
$display-none: none;
$display-block: block;
$padding: 5px;