/*----------------------------*/
/*      FAVORITE SECTION      */
/*----------------------------*/
/*---------Favorite Section---------- */
#favoriteSection {
    text-align: $text-align-center;
    #favoriteGifs{
        width: 28px;
        height: 21px;
    }
    .titlesSection {
        @include generals_font;
        font-size: sum($font-size16, 4px);
        line-height: 30px;
    }
    #savedGifs {
        display: grid;
        grid-template-columns: 50% 50%;
        .favoritesGifosCheck {
            width: 156px;
            height: 120px; 
            margin: 10%; 
        }
    }
    .theFavoriteGifs {
        width: 100%;
        .noContent {
            width: 150px;
            height: 150px;
        }
        .noContentText {
            @include generals_font($color: $color-aqua);
        }
    }
    .seeMore {
        background: transparent;
        border: none;  
    }
}

/*----------------------------*/
/*      MY GIFOS SECTION      */
/*----------------------------*/
#myGifosSection {
    text-align: $text-align-center;
    #myGifos{
        width: 28px;
        height: 21px;
    }
    .titlesSection {
        @include generals_font;
        font-size: sum($font-size16, 4px);
        line-height: 30px;
    }
    #myOwnGifs{
        width: 100%;
        display: grid;
        .noContent {
            width: 150px;
            height: 150px;
            margin-left: 30%;
        }
        .noContentText {
            @include generals_font($color: $color-aqua);
        }
    }
    .seeMore {
        background: transparent;
        border: none;  
    }
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
/*---------Favorite Section---------- */
.dark {
    #favoriteSection {
        .titlesSection {
            @include generals_font($color: $color-white);
            font-size: sum($font-size16, 4px);
            line-height: 30px;
        }
        #savedGifs {
            display: grid;
            grid-template-columns: 50% 50%;
            .favoritesGifosCheck {
                width: 156px;
                height: 120px; 
                margin: 10%; 
            }
        }
        .seeMore {
            display: none; 
        }
        .seeMoreDark {
            background: transparent;
            border: none;  
        }
    }    
}

/*---------My Gifos Section---------- */
.dark {
    #myGifosSection {
        .titlesSection {
            @include generals_font($color: $color-white);
            font-size: sum($font-size16, 4px);
            line-height: 30px;
        }
    }
    .seeMore {
        display: none; 
    }
    .seeMoreDark {
        background: transparent;
        border: none;  
    }
}