/*----------------------------*/
/*       FOOTER SECTION       */
/*----------------------------*/
#footer {
    text-align: $text-align-center;
    width: $page-max-width;
    height: 190px;
    display: inline-block;
    border-bottom : $border-top-bottom $color-purple;
    #footerShare {
        @extend %robotos_font;
        font-size: percentage(110%, $page-max-width, $rem);
        margin-top: 47px;
        margin-bottom: 0;
    }
    #socialMedia {
        width: 35%;
        margin-top: 22px;
        margin-left: 32%;
        display: flex;
        justify-content: space-evenly;
    }
    #footerCopyright {
        @extend %robotos_font;
        font-size: percentage(90%, $page-max-width, $rem);
        line-height: 20px;
    }
}

.dark {
    #footer {
        border-bottom: $border-top-bottom $color-black;
        #footerShare {
            @extend %robotos_font;
            color: $color-white;
        }
        #footerCopyright {
            color: $color-white;
        }    
    }
}

@media only screen and (min-width: 768px) {
    /*----------------------------*/
    /*       FOOTER SECTION       */
    /*----------------------------*/
    #footer {
        padding: 0 100px;
        height: 100px;
        display: grid;
        grid-template-areas:
            "footerShare socialMedia foterCopyright";
        #footerShare {
            margin: 0;
            grid-area: footerShare;
            margin-top: 36px;
        }
        #socialMedia {
            margin: 0;
            grid-area: socialMedia;
            margin-top: 30px;
            a {
                margin: 10px;
            }
        }
        br {
            display: none;
        }
        #footerCopyright {
            grid-area: footerCopyright;
            margin-top: -47px;
        }
    }
}