/*----------------------------*/
/*   INCLUSION OF PARTIALS    */
/*----------------------------*/
/*----------------------------*/
/*         $RESET             */
/*----------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*----------------------------*/
/*         $COLORS            */
/*----------------------------*/
/*----------------------------*/
/*         $FONTS             */
/*----------------------------*/
/*----------------------------*/
/*         $CONSTANTES        */
/*----------------------------*/
/*----------------------------*/
/*         $FUNCTIONS           */
/*----------------------------*/
/*----------------------------*/
/*         $MIXINS            */
/*----------------------------*/
.off, #firstSection #h1Desktops, #containerMaxGifs {
  display: none;
}

#firstSection .ilustra_header {
  display: block;
}

#firstSection .color_purple, .dark #firstSection .color_white {
  font-size: 1.8rem;
  line-height: 33px;
}

#footer #footerShare, #footer #footerCopyright, .dark #footer #footerShare, #firstSection #gifosFinder ::placeholder, #trends #latestGifos, #containerMaxGifs h3, .dark #trends #latestGifos, .dark #containerMaxGifs h3 {
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

/*----------------------------*/
/*      FAVORITE SECTION      */
/*----------------------------*/
/*---------Favorite Section---------- */
#favoriteSection {
  text-align: center;
}

#favoriteSection #favoriteGifs {
  width: 28px;
  height: 21px;
}

#favoriteSection .titlesSection {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

#favoriteSection #savedGifs {
  display: grid;
  grid-template-columns: 50% 50%;
}

#favoriteSection #savedGifs .favoritesGifosCheck {
  width: 156px;
  height: 120px;
  margin: 10%;
}

#favoriteSection .theFavoriteGifs {
  width: 100%;
}

#favoriteSection .theFavoriteGifs .noContent {
  width: 150px;
  height: 150px;
}

#favoriteSection .theFavoriteGifs .noContentText {
  color: #50E3C2;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#favoriteSection .seeMore {
  background: transparent;
  border: none;
}

/*----------------------------*/
/*      MY GIFOS SECTION      */
/*----------------------------*/
#myGifosSection {
  text-align: center;
}

#myGifosSection #myGifos {
  width: 28px;
  height: 21px;
}

#myGifosSection .titlesSection {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

#myGifosSection #myOwnGifs {
  width: 100%;
}

#myGifosSection #myOwnGifs .noContent {
  width: 150px;
  height: 150px;
}

#myGifosSection #myOwnGifs .noContentText {
  color: #50E3C2;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#myGifosSection .seeMore {
  background: transparent;
  border: none;
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
/*---------Favorite Section---------- */
.dark #favoriteSection .titlesSection {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.dark #favoriteSection #savedGifs {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dark #favoriteSection #savedGifs .favoritesGifosCheck {
  width: 156px;
  height: 120px;
  margin: 10%;
}

.dark #favoriteSection .seeMore {
  display: none;
}

.dark #favoriteSection .seeMoreDark {
  background: transparent;
  border: none;
}

/*---------My Gifos Section---------- */
.dark #myGifosSection .titlesSection {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.dark .seeMore {
  display: none;
}

.dark .seeMoreDark {
  background: transparent;
  border: none;
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  /*----------------------------*/
  /*      FAVORITE SECTION      */
  /*----------------------------*/
  /*---------Favorite Section---------- */
  #favoriteSection .titlesSection {
    font-size: 25px;
  }
  #favoriteSection #savedGifs {
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px;
  }
  #favoriteSection #savedGifs .favoritesGifosCheck {
    width: 255px;
    height: 200px;
    margin: 0;
    padding: 5px;
  }
  /*----------------------------*/
  /*      MY GIFOS SECTION      */
  /*----------------------------*/
  #myGifosSection .titlesSection {
    font-size: 25px;
  }
  /*----------------------------*/
  /*   CREATE GIFOS SECTION     */
  /*----------------------------*/
  #createGifosSection #camera {
    position: relative;
    left: 155px;
    bottom: 290px;
  }
  #createGifosSection #cameraDark {
    display: none;
  }
  #createGifosSection #camlight {
    position: relative;
    left: 281px;
    bottom: 432px;
  }
  #createGifosSection #containerShowCam {
    position: relative;
    left: 400px;
    border: 1px solid #572EE5;
    width: 688px;
    height: 390px;
  }
  #createGifosSection #containerShowCam #corner1 {
    border: 1px solid #50E3C2;
    width: 27px;
    height: 25px;
    position: relative;
    left: 640px;
    top: 17px;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
  #createGifosSection #containerShowCam #corner2 {
    border: 1px solid #50E3C2;
    width: 27px;
    height: 25px;
    position: relative;
    left: 15px;
    bottom: 7px;
    border-right-style: hidden;
    border-bottom-style: hidden;
  }
  #createGifosSection #containerShowCam #corner3 {
    border: 1px solid #50E3C2;
    width: 27px;
    height: 25px;
    position: relative;
    left: 15px;
    top: 297px;
    border-right-style: hidden;
    border-top-style: hidden;
  }
  #createGifosSection #containerShowCam #corner4 {
    border: 1px solid #50E3C2;
    width: 27px;
    height: 25px;
    position: relative;
    left: 641px;
    top: 272px;
    border-left-style: hidden;
    border-top-style: hidden;
  }
  #createGifosSection #containerShowCam h1 {
    margin-top: 45px;
    color: #572EE5;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 30px;
  }
  #createGifosSection #containerShowCam h1 #color_aqua {
    color: #50E3C2;
  }
  #createGifosSection #containerShowCam h2 {
    color: #000000;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin-bottom: 117.28px;
  }
  #createGifosSection #steplight {
    position: relative;
    bottom: 270px;
    left: 44%;
    width: 150px;
    height: 32px;
  }
  #createGifosSection #steplight .stepTwoThree {
    width: 32px;
    height: 32px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #572EE5;
    padding: 5px;
    position: relative;
    bottom: 35px;
    left: 49px;
  }
  #createGifosSection #steplight .three {
    position: relative;
    bottom: 67px;
    left: 98px;
  }
  #createGifosSection #stepDark {
    display: none;
  }
  #createGifosSection #movie {
    position: absolute;
    bottom: 26%;
    left: 80%;
  }
  #createGifosSection #movieDark {
    display: none;
  }
  #createGifosSection hr {
    position: relative;
    bottom: 256px;
    width: 796px;
    height: 6.9px;
    border-radius: 25px;
    background: #572EE5;
  }
  #createGifosSection .comenzar {
    border: 1px solid #572EE5;
    border-radius: 25px;
    width: 127px;
    height: 50px;
    position: relative;
    bottom: 235px;
    left: 45%;
    cursor: pointer;
    background-color: transparent;
  }
  #createGifosSection .comenzar .color_purple {
    color: #572EE5;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  /*----------------------------------------------------------*/
  /*                          DARK MODE                       */
  /*----------------------------------------------------------*/
  /*---------Favorite Section---------- */
  .dark #favoriteSection .titlesSection {
    font-size: 25px;
  }
  .dark #favoriteSection #savedGifs {
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px;
  }
  .dark #favoriteSection #savedGifs .favoritesGifosCheck {
    width: 255px;
    height: 200px;
    margin: 0;
    padding: 5px;
  }
  /*---------My Gifos Section---------- */
  .dark #myGifosSection .titlesSection {
    font-size: 25px;
  }
  /*----------------------------*/
  /*   CREATE GIFOS SECTION     */
  /*----------------------------*/
  .dark #createGifosSection #cameraDark {
    position: relative;
    left: 155px;
    bottom: 290px;
  }
  .dark #createGifosSection #containerShowCam {
    position: relative;
    left: 400px;
    border: 1px solid #FFFFFF;
    width: 688px;
    height: 390px;
  }
  .dark #createGifosSection #containerShowCam h1 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  .dark #createGifosSection #containerShowCam h2 {
    color: #FFFFFF;
  }
  .dark #createGifosSection #stepDark {
    position: relative;
    bottom: 270px;
    left: 44%;
    width: 150px;
    height: 32px;
  }
  .dark #createGifosSection #stepDark .stepTwoThree {
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    position: relative;
    bottom: 35px;
    left: 49px;
  }
  .dark #createGifosSection #stepDark .three {
    position: relative;
    bottom: 67px;
    left: 98px;
  }
  .dark #createGifosSection #movieDark {
    position: absolute;
    bottom: 26%;
    left: 80%;
  }
  .dark #createGifosSection hr {
    background: #FFFFFF;
  }
  .dark #createGifosSection .comenzar {
    border: 1px solid #FFFFFF;
  }
  .dark #createGifosSection .comenzar .color_purple {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
}

/*----------------------------*/
/*       HEADER SECTION       */
/*----------------------------*/
header {
  border-top: 5px solid #572EE5;
  /*----------------------------*/
  /*  Navigation Bar Section    */
  /*----------------------------*/
}

header .logosHeader {
  margin-left: 22px;
  margin-top: 29px;
  margin-bottom: 17.2px;
}

header .logosHeaderDesktop {
  display: none;
}

header .checkbox-menu {
  position: absolute;
  right: 10%;
  top: 47px;
  cursor: pointer;
}

header nav #menu {
  position: fixed;
  background: #572EE5;
  opacity: 90%;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 297px;
  text-align: center;
}

header nav #menu .btnsNavigations {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 60px;
  text-decoration-line: unset;
}

header nav #menu .btnsNavigations hr {
  width: 35px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 0 45%;
}

header nav #menu #createMyGifos {
  display: none;
}

/*----------------------------*/
/*     DARK MODE - HEADER     */
/*----------------------------*/
.dark header {
  border-top: 5px solid #000000;
}

.dark header .logosHeaderDesktop {
  display: none;
}

.dark header .logosHeader {
  display: block;
}

.dark nav #menu {
  background: #000000;
  opacity: 100%;
}

/*------------------------------------------------*/
/* Large devices (laptops/desktops, 768px and up) */
/*------------------------------------------------*/
@media only screen and (min-width: 786px) {
  header {
    border-top: 5px solid #572EE5;
  }
  header .logosHeaderDesktop {
    margin-left: 156px;
    margin-top: 23px;
    margin-bottom: 17.2px;
  }
  header .logosHeader {
    display: none;
  }
  header nav #menu {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: #FFFFFF;
    opacity: 100;
    right: 5%;
    top: 23px;
    width: 500px;
    height: auto;
    padding: 0;
    text-align: unset;
  }
  header nav #menu .btnsNavigations {
    color: #572EE5;
  }
  header nav #menu .btnsNavigations hr {
    display: none;
  }
  header nav #menu #createMyGifos {
    display: block;
  }
  /*----------------------------*/
  /*     DARK MODE - HEADER     */
  /*----------------------------*/
  .dark header {
    border-top: 5px solid #000000;
  }
  .dark header .logosHeaderDesktop {
    display: block;
  }
  .dark header .logosHeader {
    display: none;
  }
  .dark nav #menu {
    background: #37383C;
  }
  .dark nav #menu .btnsNavigations {
    color: #FFFFFF;
  }
  .dark nav #menu .btnsNavigations hr {
    display: none;
  }
  .dark nav #menu #createMyGifos {
    display: block;
  }
}

/*----------------------------*/
/*       FOOTER SECTION       */
/*----------------------------*/
#footer {
  text-align: center;
  width: 100%;
  height: 190px;
  display: inline-block;
  border-bottom: 5px solid #572EE5;
}

#footer #footerShare {
  font-size: 1.1rem;
  margin-top: 47px;
  margin-bottom: 0;
}

#footer #socialMedia {
  width: 35%;
  margin-top: 22px;
  margin-left: 32%;
  display: flex;
  justify-content: space-evenly;
}

#footer #socialMedia #twitter {
  display: block;
}

#footer #socialMedia #twitterpurple {
  display: none;
}

#footer #footerCopyright {
  font-size: 0.9rem;
  line-height: 20px;
}

.dark #footer {
  border-bottom: 5px solid #000000;
}

.dark #footer #footerShare {
  color: #FFFFFF;
}

.dark #footer #footerCopyright {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  /*----------------------------*/
  /*       FOOTER SECTION       */
  /*----------------------------*/
  #footer {
    padding: 0 100px;
    height: 100px;
    display: grid;
    grid-template-areas: "footerShare socialMedia foterCopyright";
  }
  #footer #footerShare {
    margin: 0;
    grid-area: footerShare;
    margin-top: 36px;
  }
  #footer #socialMedia {
    margin: 0;
    grid-area: socialMedia;
    margin-top: 30px;
  }
  #footer #socialMedia a {
    margin: 10px;
  }
  #footer #socialMedia a #twitterpurple {
    display: block;
  }
  #footer #socialMedia a #twitter {
    display: none;
  }
  #footer br {
    display: none;
  }
  #footer #footerCopyright {
    grid-area: footerCopyright;
    margin-top: -47px;
  }
}

.dark {
  background: #37383C;
}

/* ---------First Section---------- */
/* Ilustra Header - First Section */
#firstSection {
  text-align: center;
}

#firstSection .color_purple {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#firstSection #color_aqua {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
}

#firstSection .ilustra_header {
  width: 17rem;
  margin: auto;
  margin-top: 6px;
}

#firstSection #gifosFinder {
  text-align: center;
  cursor: pointer;
}

#firstSection #gifosFinder #searchGifos {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 334px;
  height: 50px;
  padding-left: 60px;
}

#firstSection #gifosFinder ::placeholder {
  font-size: 16px;
  color: #6B7989;
}

#firstSection #gifosFinder .search {
  width: 20px;
  height: 20px;
  position: relative;
  right: 12%;
  top: 30%;
}

#firstSection #gifosFinder .searchToTerm {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12%;
  top: 10.5rem;
}

#firstSection #trending {
  margin: 0;
  margin-top: 31px;
  font-size: 17px;
}

#firstSection #trending .color_purple {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#firstSection .ultrendings {
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 25px;
}

#firstSection .ultrendings ul {
  padding: 0 60px;
}

#firstSection .ultrendings ul li {
  color: #572EE5;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 2px;
  list-style-type: none;
  text-transform: capitalize;
  display: inline;
}

#firstSection .lineUnderSearch {
  width: 50%;
  height: 1px;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  margin-top: 35px;
}

#firstSection #tryAnotherSearch .noContent {
  width: 150px;
  height: 150px;
  margin-top: 60px;
}

#firstSection #tryAnotherSearch .noContentText {
  color: #50E3C2;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#firstSection .termToSearch {
  margin-top: 43px;
}

#firstSection .gifosContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

#firstSection .gifosContainer .showGifos {
  width: 156px;
  height: 120px;
  margin: 10%;
}

#firstSection .seeMore {
  background: transparent;
  border: none;
  margin-top: 78px;
}

/*-----------GIFOS in Trend---------- */
#trends {
  background: #F3F5F8;
  width: 100%;
  height: 40%;
  margin-top: 59px;
  padding-top: 45px;
  padding-bottom: 82px;
}

#trends #gifosTrend {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

#trends #latestGifos {
  font-size: 16px;
  text-align: center;
  line-height: 23px;
}

#trends #newGifos {
  width: 100%;
  height: 40%;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

#trends #newGifos .gifTrends {
  width: 243px;
  height: 187px;
  padding-left: 22px;
  align-self: center;
}

/*------Container to Maximum Image---------- */
#containerMaxGifs {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 90%;
}

#containerMaxGifs #imgMaxSize {
  width: 318px;
  height: 245px;
  position: absolute;
  top: 142px;
  right: 9%;
}

#containerMaxGifs h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 16px;
  position: relative;
  top: 72%;
  left: 7%;
  height: 100px;
  width: 224px;
}

#containerMaxGifs h3 {
  font-size: 15px;
  position: absolute;
  bottom: 24%;
  left: 9%;
}

#containerMaxGifs #imgCrossMax {
  position: absolute;
  right: 37px;
  top: 47px;
  cursor: pointer;
}

#containerMaxGifs #imgFavoriteMax {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 33px;
  top: 414px;
  right: 73px;
}

#containerMaxGifs #favoriteActive {
  cursor: pointer;
  position: absolute;
  top: 420px;
  right: 82px;
}

#containerMaxGifs #imgDownloadMax {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  top: 414px;
  right: 34px;
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
/* Ilustra Header - First Section */
.dark #firstSection .color_white {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.dark #firstSection #gifosFinder #searchGifos {
  background: #37383C;
  border: 1px solid #FFFFFF;
}

.dark #firstSection #gifosFinder .search {
  top: 21%;
}

.dark #firstSection #gifosFinder .searchToTerm {
  top: 29%;
}

.dark #firstSection #trending {
  margin: 0;
  margin-top: 31px;
  font-size: 17px;
}

.dark #firstSection #trending .color_white {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.dark #firstSection .ultrendings {
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 25px;
}

.dark #firstSection .ultrendings ul {
  padding: 0 60px;
}

.dark #firstSection .ultrendings ul li {
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 2px;
  list-style-type: none;
  text-transform: capitalize;
  display: inline;
}

.dark #firstSection .lineUnderSearch {
  border: 1px solid #FFFFFF;
}

.dark #firstSection .termToSearch {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.dark #firstSection .seeMoreDark {
  background: transparent;
  border: none;
  margin-top: 78px;
}

.dark #trends {
  background: #222326;
}

.dark #trends #gifosTrend {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

.dark #trends #latestGifos {
  color: #FFFFFF;
}

.dark #containerMaxGifs h2 {
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.dark #containerMaxGifs h3 {
  color: #FFFFFF;
}

.dark #containerMaxGifs #imgDownloadMax {
  opacity: 1;
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  #firstSection .color_purple {
    font-size: 2.18rem;
  }
  #firstSection #h1Mobile {
    display: none;
  }
  #firstSection #h1Desktops {
    display: block;
    margin-top: 76px;
  }
  #firstSection .ilustra_header {
    width: 27rem;
  }
  #firstSection #gifosFinder #searchGifos {
    width: 35rem;
    height: 50px;
    padding-left: 60px;
  }
  #firstSection #gifosFinder .search {
    position: relative;
    right: 6%;
    top: 16.5%;
  }
  #firstSection #gifosFinder .searchToTerm {
    position: relative;
    right: 6%;
    top: 15%;
  }
  #firstSection #trending {
    margin-top: 73px;
    font-size: 20px;
  }
  #firstSection .ultrendings {
    font-size: 18px;
  }
  #firstSection .lineUnderSearch {
    width: 50%;
    height: 1px;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    margin-top: 35px;
  }
  #firstSection #tryAnotherSearch .noContent {
    width: 250px;
    height: 250px;
  }
  #firstSection .gifosContainer {
    grid-template-columns: 25% 25% 25% 25%;
    padding: 15px;
  }
  #firstSection .gifosContainer .showGifos {
    margin: 8%;
  }
  #trends #latestGifos {
    font-size: 18px;
  }
  #trends #latestGifos br {
    display: none;
  }
  #trends div {
    position: relative;
    text-align: center;
  }
  #trends div .btnSliderLeft {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 130px;
  }
  #trends div #newGifos {
    width: 60%;
    height: 60%;
    display: flex;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  #trends div #newGifos .gifTrends {
    display: block;
    width: 380px;
    height: 275px;
    padding: 0 10px;
  }
  #trends div .btnSliderRight {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 85%;
    top: 130px;
  }
  #containerMaxGifs {
    opacity: 100%;
  }
  #containerMaxGifs #imgMaxSize {
    width: 60%;
    height: 60%;
    position: absolute;
    right: 20%;
  }
  #containerMaxGifs h2 {
    top: 87%;
    left: 20%;
    width: 450px;
  }
  #containerMaxGifs h3 {
    bottom: 11%;
    left: 21%;
    width: 350px;
  }
  #containerMaxGifs #imgCrossMax {
    right: 80px;
  }
  #containerMaxGifs #imgFavoriteMax {
    top: 83%;
    right: 24%;
  }
  #containerMaxGifs #favoriteActive {
    top: 84%;
    right: 25%;
  }
  #containerMaxGifs #imgDownloadMax {
    top: 83%;
    right: 20%;
  }
  /*----------------------------*/
  /*         DARK MODE          */
  /*----------------------------*/
  .dark #firstSection #gifosFinder .search {
    top: 12.2%;
  }
  .dark #firstSection #gifosFinder .searchToTerm {
    top: 7.2%;
  }
  .dark #firstSection #trending {
    margin: 0;
    margin-top: 73px;
    font-size: 20px;
  }
  .dark #firstSection .ultrendings {
    font-size: 18px;
  }
  .dark #firstSection .lineUnderSearch {
    border: 1px solid #FFFFFF;
  }
  .dark #trends #latestGifos {
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=styles.css.map */