/*----------------------------*/
/*   INCLUSION OF PARTIALS    */
/*----------------------------*/
/*----------------------------*/
/*         $RESET             */
/*----------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*----------------------------*/
/*         $COLORS            */
/*----------------------------*/
/*----------------------------*/
/*         $FONTS             */
/*----------------------------*/
/*----------------------------*/
/*         $CONSTANTES        */
/*----------------------------*/
/*----------------------------*/
/*         $FUNCTIONS           */
/*----------------------------*/
/*----------------------------*/
/*         $MIXINS            */
/*----------------------------*/
.dark header #logo, .off, .dark #firstSection #gifosFinder #magnifying {
  display: none;
}

.dark header #logoDark, #firstSection .ilustra_header {
  display: block;
}

#firstSection .color_purple, .dark #firstSection .color_white {
  font-size: 1.8rem;
  line-height: 33px;
}

#footer #footerShare, #footer #footerCopyright, .dark #footer #footerShare, #firstSection #gifosFinder ::placeholder, #trends #latestGifos, .dark #trends #latestGifos {
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

/*----------------------------*/
/*      FAVORITE SECTION      */
/*----------------------------*/
/*---------Favorite Section---------- */
#favoriteSection {
  text-align: center;
}

#favoriteSection #favoriteGifs {
  width: 28px;
  height: 21px;
}

#favoriteSection .titlesSection {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

#favoriteSection .theFavoriteGifs {
  width: 100%;
  display: grid;
}

#favoriteSection .theFavoriteGifs .noContent {
  width: 150px;
  height: 150px;
  margin-left: 30%;
}

#favoriteSection .theFavoriteGifs .noContentText {
  color: #50E3C2;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#favoriteSection .seeMore {
  background: transparent;
  border: none;
}

/*----------------------------*/
/*      MY GIFOS SECTION      */
/*----------------------------*/
#myGifosSection {
  text-align: center;
}

#myGifosSection #myGifos {
  width: 28px;
  height: 21px;
}

#myGifosSection .titlesSection {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

#myGifosSection #myOwnGifs {
  width: 100%;
  display: grid;
}

#myGifosSection #myOwnGifs .noContent {
  width: 150px;
  height: 150px;
  margin-left: 30%;
}

#myGifosSection #myOwnGifs .noContentText {
  color: #50E3C2;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#myGifosSection .seeMore {
  background: transparent;
  border: none;
}

/*----------------------------*/
/*       HEADER SECTION       */
/*----------------------------*/
header {
  border-top: 5px solid #572EE5;
}

header .logosHeader {
  margin-left: 22px;
  margin-top: 29px;
  margin-bottom: 17.2px;
}

header .checkbox-menu {
  position: absolute;
  right: 10%;
  top: 47px;
  cursor: pointer;
}

/*----------------------------*/
/*     DARK MODE - HEADER     */
/*----------------------------*/
.dark header {
  border-top: 5px solid #000000;
}

/*----------------------------*/
/*  Navigation Bar Section    */
/*----------------------------*/
nav #menu {
  position: fixed;
  background: #572EE5;
  opacity: 90%;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 297px;
  text-align: center;
}

nav #menu li a {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 60px;
  text-decoration-line: unset;
}

nav #menu li a hr {
  width: 35px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 0 45%;
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
.dark nav #menu {
  background: #000000;
  opacity: 100%;
}

/*----------------------------*/
/*       FOOTER SECTION       */
/*----------------------------*/
#footer {
  text-align: center;
  width: 100%;
  height: 190px;
  display: inline-block;
  border-bottom: 5px solid #572EE5;
}

#footer #footerShare {
  font-size: 1.1rem;
  margin-top: 47px;
  margin-bottom: 0;
}

#footer #socialMedia {
  width: 35%;
  margin-top: 22px;
  margin-left: 32%;
  display: flex;
  justify-content: space-evenly;
}

#footer #footerCopyright {
  font-size: 0.9rem;
  line-height: 20px;
}

.dark #footer {
  border-bottom: 5px solid #000000;
}

.dark #footer #footerShare {
  color: #FFFFFF;
}

.dark #footer #footerCopyright {
  color: #FFFFFF;
}

.dark {
  background: #37383C;
}

/* ---------First Section---------- */
/* Ilustra Header - First Section */
#firstSection {
  text-align: center;
}

#firstSection .color_purple {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#firstSection #color_aqua {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
}

#firstSection .ilustra_header {
  width: 17rem;
  margin: auto;
  margin-top: 6px;
}

#firstSection #gifosFinder {
  text-align: center;
}

#firstSection #gifosFinder #searchGifos {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 334px;
  height: 50px;
  padding-left: 60px;
}

#firstSection #gifosFinder ::placeholder {
  font-size: 16px;
  color: #6B7989;
}

#firstSection #gifosFinder .search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12%;
  top: 64%;
}

#firstSection #gifosFinder .searchToTerm {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12%;
  top: 10%;
}

#firstSection #trending {
  margin: 0;
  margin-top: 31px;
  font-size: 17px;
}

#firstSection #trending .color_purple {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#firstSection .ultrendings {
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 25px;
  margin-left: 25%;
}

#firstSection .ultrendings li {
  color: #572EE5;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 50%;
  margin-top: 2px;
  list-style-type: none;
}

#firstSection .lineUnderSearch {
  width: 50%;
  height: 1px;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  margin-top: 35px;
}

#firstSection .termToSearch {
  margin-top: 43px;
}

#firstSection .gifosContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

#firstSection .gifosContainer .showGifos {
  width: 156px;
  height: 120px;
  margin: 10%;
}

#firstSection .seeMore {
  background: transparent;
  border: none;
  margin-top: 78px;
}

/*-----------GIFOS in Trend---------- */
#trends {
  background: #F3F5F8;
  width: 100%;
  height: 430px;
  margin-top: 59px;
  padding-top: 45px;
  padding-bottom: 82px;
}

#trends #gifosTrend {
  color: #572EE5;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

#trends #latestGifos {
  font-size: 16px;
  text-align: center;
  line-height: 23px;
}

#trends #newGifos {
  width: 243px;
  height: 187px;
  margin-top: 32px;
  margin-bottom: 82px;
  display: grid;
  grid-template-columns: auto auto auto;
}

#trends #newGifos img {
  width: 243px;
  height: 187px;
  padding-left: 22px;
  align-self: center;
}

/*----------------------------*/
/*         DARK MODE          */
/*----------------------------*/
/* Ilustra Header - First Section */
.dark {
  /*--------- GIFOS in Trend------- */
}

.dark #firstSection .color_white {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.dark #firstSection #gifosFinder #searchGifos {
  background: #37383C;
  border: 1px solid #FFFFFF;
}

.dark #firstSection #gifosFinder .search {
  top: 60%;
}

.dark #firstSection #trending {
  margin: 0;
  margin-top: 31px;
  font-size: 17px;
}

.dark #firstSection #trending .color_white {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.dark #firstSection .ultrendings {
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 25px;
  margin-left: 25%;
}

.dark #firstSection .ultrendings li {
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 50%;
  margin-top: 2px;
}

.dark #trends {
  background: #222326;
}

.dark #trends #gifosTrend {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

.dark #trends #latestGifos {
  color: #FFFFFF;
}
/*# sourceMappingURL=styles.css.map */